<form action="/chair" method="POST">

  <h1>Enter Chair Name and Description Here:</h1>
  <label>Name</label>
  <input type="text" id="name" name="name">
  <label>Description</label>
  <input type="text" id="description" name="description">
  <input type="submit" value="Save">

</form>