<form action="/lamp" method="POST">

  <h1>Enter Lamp Colors Here:</h1>
  <label>Color</label>
  <input type="text" id="color_0" name="lamp[colors][]"> 
  <label>Color</label>
  <input type="text" id="color_1" name="lamp[colors][]">
  <label>Color</label>
  <input type="text" id="color_2" name="lamp[colors][]">
  <label>Color</label>
  <input type="text" id="color_3" name="lamp[colors][]">
  <input type="submit" value="Save">

</form>